{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="main-title">Breaking Dev</h1>


    <nav>
        <ul>
            <li><a class="btn" href="/characters/add">Ajouter un personnage</a></li>
            <li><a class="btn" href="/quotes/add">Ajouter une citation</a></li>
        </ul>
    </nav>

    <div class="characters">
        {% for c in characters %}
            <div class="character">
                <div class="img">
                    <img src="{{c.img}}" alt="">
                </div>

                <div class="name">{{c.name}}</div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
